{% extends "base.html" %}
{% block title %} Home {% endblock %}

{% block content %}
<h1>Bienvenido {{ session['nombre'] }}</h1>

<div class="grid-libros">
    {% for libro in lista_libros %}
    <div class="card-libro">
        <p class="titulo">{{ libro.titulo }}</p>
        <img src="{{ url_for('static', filename='images/' + libro.imagen) }}" alt="">
        <p class="descripcion">
            {{ libro.descripcion }}
        </p>
        <a href="{{ url_for('reservas.reservar', id=libro.id) }}">Reservar</a>
    </div>
    {% endfor %}
</div>
{% endblock %}
